* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: black;
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
    margin: 0;
    height: 100%;
    width: 100%;
    color: black;
}

h1 {
    padding: 20px;
    font-family: cursive;
    text-align: center;
    font-size: 55px;
}

h2 {
    padding-left: 20px;
    padding-bottom: 20px;
}

img {
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    padding: 120px;
    text-align: center;
    background: white;
    font-size: 30px;
    line-height: 26px;
}

.rang::after {
    content: "";
    clear: both;
    display: table;
}

figure {
    float: left;
    width: 33.33%;
    padding: 5px;
}