* {
    margin: 0;
}

body {
    background-image: url("../IMG/backgroundaccueuil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
}

div {
    word-wrap: break-word;
    width: 450px;
    text-align: justify;
}

h1 {
    padding: 20px;
    font-family: cursive, sans-serif;
    text-align: center;
    font-size: 55px;
}

h2 {
    padding-left: 20px;
    padding-bottom: 20px;
}

h3 {
    padding: 20px;
}

p, div, address {
    padding: 20px;
    font-size: 20px;
}

a {
    color: white;
}

img {
    float: left;
    width: 50%;
    padding: 5px;
}


header {
    background-color: white;
    height: 100%;
    width: 100%;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: white;
}

table, th, td {
    border: 4px white;
    width: 600px;
    margin: 20px;
    text-align: left;
    background-color: hsla(0, 0%, 0%, 0.5);
}

table li {
    padding-left: 10px;
    text-align: justify;
}

.header {
    padding: 120px;
    text-align: center;
    background: white;
    color: black;
    font-size: 30px;
    line-height: 26px;
}

.t1 li {
    float: initial;
    padding: 5px;
}




